/*
    All images used as a learning aide only, and are copyright care of:
    https://picsum.photos/id/464/300/300
    https://picsum.photos/id/469/300/300
    https://picsum.photos/id/998/300/300
    https://picsum.photos/id/930/800/300
*/
:root{
    --bgColor1:hsl(240,50%,50%); /*primary1*/
    --fontColor1:hsl(360,80%,50%);/*secondary1*/
    --navBg:hsl(240,10%,90%);/*grey1*/
    --BgColor2:hsl(240,50%,50%);/*grey2*/
    --navColor:hsl(240,100%,25%);/*grey3*/
    --fontColor2: hsl(360,80%,80%);
  }
  

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before{
    box-sizing: inherit;
}

html{
    font-size: 16px;
    line-height: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: var(--bgColor1);
    padding: 0.5rem 2rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--fontColor1);
    text-align: center;
    padding: 1rem 0rem;
}

header{
    background-image: url("../img/930-800x300.jpg");
    background-size: 100% auto;
    background-position: center center;
}

header h1{
    font-size: 3rem;
    line-height: 6rem;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 2rem 0rem;
}

nav a{
    flex-basis: auto;
    flex-grow: 0;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    
    background-color: var(--navBg);
    text-decoration: none;
    color: var(--fontColor2);
    border-bottom: var(--navColor) solid 0.4rem;
    font-size: 1.75rem;
    padding: 0.5rem;
    margin: 2.5rem 1.0rem; 
    border-radius: 0.5rem;
    /*Text_Align nav a tag to the center*/
    text-align: center;
}

nav a:hover{
    color: var(--fontColor1);
    border-bottom: var(--navColor) solid 0.4rem;
}

main{
    
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid #aaa;
    color: var(--fontColor2);
}

.product-gallery{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product{
    padding: 1rem;
    margin: 0.5rem 1rem;
    background-color:var(--navColor);
    border: mediumblue solid 0.2rem;
    display: flex;
    flex-direction: row;
}

.product:hover{
    background-color: var(--bgColor1);
}

.product img{
    margin: 0.5rem 1rem 1rem 1rem;
    border-radius: 0%;
    /*Transition changed from transform to border-radius so as to prevent image from blocking the text*/
    transition: border-radius 0.5s ease;
}

.product:hover img{
    border-radius: 50%;
}

.featured-product{
    padding: 1rem;
    /*background-color: rgb(25, 25, 138);
    color: white;*/
    font-size: 16px;
}

.featured-product:hover{
    background-color: var(--bgColor1);
}

.featured-product .info{
    margin: -0.5rem;
}

.info{
}

footer p{
    color: var(--fontColor2);
    padding: 0.5rem 2rem;
    /*margin: 0.5rem;*/
    border: 0.1rem solid lightsteelblue;
    text-align: center;
}

footer{
    padding: 0.5rem 0rem;
}


@media (max-width: 550px) {
    header h1 {
        line-height: 4rem;
        padding: 2rem 1rem;
    }

    nav{
        flex-direction: column;
    }

    nav a{
        margin: 2.5rem 0.5rem 2.5rem 2.5rem;
        border-right: darkblue solid 0.4rem;
        border-bottom: none; 
    }

    .product{
        flex-direction: column;
    }

    .product img{
        margin: 1rem 1rem 1rem 0rem;
    }

}